<form method="post">
	<div>Name: <input name="name" /></div>
	<div>Quantity: <input name="qty" type="number" /></div>
	<div>Amount: <input name="amount" type="number" /></div>
	<button>Save</button>
</form>
<a href="/select"><button>Back</button></a>
